# Data
data/

# Saved models
models/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs & outputs
results/plots/
results/metrics/
*.log